Source: holodev
Section: devel
Priority: optional
Maintainer: Joenio Costa <joenio@colivre.coop.br>
Build-Depends-Indep: debhelper (>= 8), shunit2
Build-Depends: libvirt-bin | libvirt-clients, libvirt-bin | libvirt-daemon-system,
               bridge-utils, debootstrap, lxc, dnsmasq, ebtables, sudo, git,
               bash-completion
Build-Conflicts: lxcfs, libpam-cgfs
Standards-Version: 3.9.7
Homepage: https://github.com/lappis-tools/holodev
Vcs-Git: https://github.com/lappis-tools/holodev.git

Package: holodev
Architecture: all
Depends: libvirt-bin | libvirt-clients, libvirt-bin | libvirt-daemon-system,
         bridge-utils, debootstrap, lxc, sudo, git, bash-completion, polipo,
         ${misc:Depends}
Suggests: cgmanager
Conflicts: lxcfs, libpam-cgfs
Description: tool that makes it easier the creation Linux containers
 A tool that makes it easier to create Linux containers for development using
 Debian systems.
