#!/usr/bin/make -f

override_dh_auto_test:
ifeq ($(findstring nocheck,$(DEB_BUILD_OPTIONS)),)
	make test
else
	@echo "skipping tests"
endif

%:
	make manpage
	mv holodev.1 debian/holodev.1
	dh $@ --with bash-completion
